# Raport z zadania regresja i klasyfikacja
### Aleksander Szymczyk (aleksander.szymczyk.stud@pw.edu.pl)

In [1]:
from preprocessing import set_discrete_columns, remove_outliers, split_dataset
from treeID3 import Tree
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("dataset/cardio_train.csv", sep=";", index_col=0)
df = remove_outliers(df, ["ap_hi", "ap_lo", "weight", "height"], 3)
df = remove_outliers(df, ["ap_hi", "ap_lo"], 5)
df, groups = set_discrete_columns(df, ["age", "height", "weight", "ap_hi", "ap_lo"])
pd.set_option("display.precision", 3)
df.describe()

In [ ]:
groups

In [ ]:
fig, ax = plt.subplots(figsize=(12, 8))
sns.heatmap(df.corr(), annot=True, ax=ax)
plt.show()

In [2]:
df = pd.read_csv("dataset/test.csv", sep=";", index_col=0)
df

     outlook  temp  humidity  wind  play_tenis
day
1          1     1         1     0           0
2          1     1         1     1           0
3          2     1         1     0           1
4          3     2         1     0           1
5          3     3         2     0           1
6          3     3         2     1           0
7          2     3         2     1           1
8          1     2         1     0           0
9          1     3         2     0           1
10         3     2         2     0           1
11         1     2         2     1           1
12         2     2         1     1           1
13         2     1         2     0           1
14         3     2         1     1           0

In [3]:
new_tree = Tree(0, 6, "play_tenis")
new_tree.max_inf_gain(df)

play_tenis  0  1
outlook
1           3  2
2           0  4
3           2  3
play_tenis  0  1
temp
1           2  2
2           2  4
3           1  3
play_tenis  0  1
humidity
1           4  3
2           1  6
play_tenis  0  1
wind
0           2  6
1           3  3

'outlook'

In [7]:
print(np.log2(0))

-inf

/tmp/ipykernel_10916/473302694.py:1: RuntimeWarning: divide by zero encountered in log2
  print(np.log2(0))